
*{
    color: $black;
    font-family: 'Montserrat';
}
html {
    min-height: 100vh;
    min-width: 360px;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
.html_overflow{
    overflow: hidden;
}
button{
    cursor: pointer;
}

html{
    /* хром, сафари */
&::-webkit-scrollbar { width: 0; }

.element { -ms-overflow-style: none; }

.element { overflow: -moz-scrollbars-none; }
}