@import "./variables.scss";
@import "./fonts.scss";
@import "./titles.scss";
@import "./transitions.scss";
* {
  color: $black;
  font-family: "Montserrat";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
html {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  min-width: 320px;
  max-width: 100vw;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0;
  }
  & {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  &.html_overflow {
    overflow: hidden !important;
  }
}
.non-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
  }

  & {
    -ms-overflow-style: none;
  }

  & {
    overflow: -moz-scrollbars-none;
  }
}
body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#__nuxt,
#__layout,
.layout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

button {
  cursor: pointer;
}
.page {
  width: 100%;
  flex-grow: 1;
  @media screen and (max-width: $tablet) {
    padding-top: 30px !important;
    padding-bottom: 50px !important;
  }
  padding-bottom: 100px !important;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 10px;
  @media screen and (max-width: $tablet) {
    padding: 0px 20px;
  }
  &.adaptive-non-wrapper {
    @media screen and (max-width: $tablet) {
      padding: 0px;
    }
  }
}
.content {
  width: 100%;
  max-width: $maxwidth;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.adaptive {
  @media screen and (min-width: calc($tablet + 1px)) {
    display: none !important;
  }
  &-non {
    @media screen and (max-width: $tablet) {
      display: none !important;
    }
  }
}
.darkblue-fill {
  fill: $darkblue !important;
}
.unselectable{

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.sidebar-scrollbar{
  &::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 0px;
  }

  &::-webkit-scrollbar-track {
    background: $light_grey;
    margin: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $extra_dark_grey;
    border-radius: 90px;
    border: 3px none $extra_dark_grey;
  }
}