* {
  color: $black;
  font-family: "Montserrat";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  min-width: 425px;  

  // @media screen and (max-width: $notebook) {
  //   min-width: $notebook;
  // }
  // @media screen and (max-width: $tablet) {
  //   min-width: $tablet;
  // }
  // @media screen and (max-width: $phone) {
  //   min-width: $phone;
  // }
  &::-webkit-scrollbar {
    width: 0;
  }

  & {
    -ms-overflow-style: none;
  }

  & {
    overflow: -moz-scrollbars-none;
  }
  &.html_overflow {
    overflow: hidden !important;
  }
}
.non-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
  }

  & {
    -ms-overflow-style: none;
  }

  & {
    overflow: -moz-scrollbars-none;
  }
}
body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#__nuxt,
#__layout,
.layout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

button {
  cursor: pointer;
}
.page {
  width: 100%;
  flex-grow: 1;
  background-color: $light_grey;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 10px;
  @media screen and (max-width: $tablet) {
    padding: 0px 20px;
  }
}
.content {
  width: 100%;
  max-width: $maxwidth;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.adaptive {
  @media screen and (min-width: calc($tablet + 1px)) {
    display: none !important;
  }
  &-non {
    @media screen and (max-width: $tablet) {
      display: none !important;
    }
  }
}
