.page {
  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: all 0.2s ease;
  }
  &-move {
    position: absolute;
  }
}

.modal-enter {
  opacity: 0;
}
.modal-leave-to {
  opacity: 0;
  .content {
    transform: scale(0.7);
  }
}
.modal {
  &-enter-active,
  & .content {
    transition: all 0.5s;
  }
  &-enter-active .content {
    animation: appear_modal 0.4s forwards;

    @keyframes appear_modal {
      0% {
        transform: scale(0);
      }
      50% {
        transform: scale(1.02);
      }
      75% {
        transform: scale(0.99);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  &-leave-active,
  & .content {
    transition: all $transition;
  }
}

.opacity {
  &-enter,
  &-leave-to {
    opacity: 0;
  }
  &-enter-active,
  &-leave-active {
    transition: all $transition !important;
  }
}

.left-menu {
  &-enter {
    opacity: 0;
    .anim{
        transform: translateX(-80%);
    }
  }
  &-leave-to {
    opacity: 0;
    .anim{
        transition: 0.1s;
        transform: translateX(-80%);
    }
  }
  &-enter-active,
  &-leave-active {
    transition: all $transition;
  }
}

.filter {
  &-enter, &-leave-to {
    height:0px !important;
    opacity: 0;
    margin-bottom: 0px;
    padding-top:0px !important;
    padding-bottom: 0px !important;
  }
  &-enter-active,
  &-leave-active {
    transition: all $transition;
  }
}