$white: #FFFFFF;
$orange: #EE964B;
$red: #F95738;
$darkblue: #5C6784;
$lightblack: #454545;
$black: #212121;
$green:  #0EA976;
$light_green: #7ABF44;
$light_grey: #F7F7F9;
$blue_grey: #F4F6FC;;
$dark_grey:  #EEF2FF;
$extra_dark_grey: #878787;
$ad_back_color: #C4C4C4;

$maxwidth: 1270px;
$notebook: 1024px;
$tablet_start: 992px;
$sidebar_dn: 900px;
$tablet: 768px;
$tablet_middle:620px;
$phone: 550px;
$phone_big: 425px;
$phone_normal: 375px;

$z_dropdown: 10;
$z_modal_wrapper: 15;
$z_navigation: 9;

$transition: 0.3s;
