$white: #FFFFFF;
$orange: #EE964B;
$red: #F95738;
$darkblue: #5C6784;
$lightblack: #454545;
$black: #212121; 
$green:  #0EA976;
$light_grey: #F7F7F9;
$gray_two: #F4F6FC;;
$dark_grey:  #EEF2FF;
$gray_four: #A6A8A8;

$maxwidth: 1290px;
