$white: #FFFFFF;
$orange: #EE964B;
$red: #F95738;
$darkblue: #5C6784;
$lightblack: #454545;
$black: #212121; 
$green:  #0EA976;
$light_grey: #F7F7F9;
$blue_grey: #F4F6FC;;
$dark_grey:  #EEF2FF;
$extra_dark_grey: #A6A8A8;
$maxwidth: 1270px;
$notebook: 1024px;
$plan: 768px;
$phone: 425px;